html {
  min-height: 100vh;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #187795;
  width: 100%;
  max-height: max-content;
}

nav > label {
  color: white;
  width: min-content;
}

input[type='range'] {
  -webkit-appearance: none;
  border-radius: 1.5em;
  height: 1rem;
  padding: 1px;
  cursor: pointer;
  overflow: hidden;
}

input[type='range']::-webkit-slider-thumb {
  width: 1rem;
  border-radius: 1.5rem;
  -webkit-appearance: none;
  height: 1rem;
  background: #187795;
}

button {
  padding: 0.9rem 1.5rem;
  background-color: #161e8f;
  color: white;
  border: none;
  cursor: pointer;
}

button.start {
  background-color: #1e724b;
  color: white;
  border: none;
  cursor: pointer;
}

nav > a {
  color: white;
  font-size: 1.5rem;
}

nav > a:link {
  text-decoration: none;
}

section.visualizer {
  display: grid;
  margin-top: 2%;
  width: 95%;
  height: 80%;
  align-self: center;
  grid-template-columns: repeat(55, 1fr);
  grid-template-rows: repeat(30, 1fr);
}

.node {
  border: 1px solid #c9f2ff;
  overflow: hidden;
}

.node.start {
  background-color: rgb(0, 104, 0);
}

.node.finish {
  background-color: #c4a601;
}

.node.blocked {
  animation: placeWall 0.25s ease;
  background-color: black;
}

.node.visited {
  animation: visitedAnimation 0.5s ease;
  background-color: #73f4fd;
}

.node.visited.no-path {
  animation: noPathAnimation 0.5s ease;
  background-color: pink;
}

.node.visited.path {
  animation: pathAnimation 0.5s ease;
  background-color: rgb(255, 255, 136);
}

.switch-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.switch > span {
  width: 60px;
  height: 34px;
}

.switch {
  position: relative;
  display: flex;
  width: 60px;
  height: 34px;
  margin: 10px 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.weighted {
  background-color: #fff2b7;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

@keyframes visitedAnimation {
  from {
    background-color: #fff2b7;
  }
  to {
    background-color: #73f4fd;
  }
}

@keyframes pathAnimation {
  0% {
    background-color: #73f4fd;
    
  }
  50% {
    background-color: rgb(136, 255, 146);
  }
  100% {
    background-color: rgb(255, 255, 136)
  }
}

@keyframes noPathAnimation {
  0% {
    background-color: #73f4fd;
  }
  100% {
    background-color: pink;
  }
}

@keyframes placeWall {
  from {
    background-color: white;
  }
  to {
    background-color: black;
  }
}


@media screen and (max-width: 610px){
  nav {
    justify-content: space-evenly;
    align-items: space-evenly;
    padding-top: 5px;
  }
  button {
    margin: 10px;
  }
  nav > a {
    font-size: 1rem;
  }
}
